/bot_entities/obj/Debug/net7.0/bot_entities.csproj.AssemblyReference.cache
[Oo]bj/
[Bb]in/

_ReSharper*/

*/packages/

*.suo
*.user
*.sln.cache
*.suo
*.user
*.sln.cache

.idea/
*.iml
*.iws

*.userprefs
*.pdb
*.cache
*.dll
*.env